/* CSS declarations go here */

.accountsUI {
	position: absolute;
	left: auto;
	top: 1em;
	right: 1em;
	width: 10%;
	z-index: 1;
}

.centr {
	text-align: center;
}

.blur{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
  background:url('/bg.jpg')
}