<template name="login">
	<form class="form-horizontal col-md-8 blur">
      <fieldset>

      <legend class="loginFormCaption">Log in with:</legend>


      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Email</label>  
        <div class="col-md-4">
        <input id="textinput" type="email" name="loginEmail" placeholder="Type your login here" class="form-control input-md">
        <!-- <span class="help-block">help</span>   -->
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="passwordinput">Password</label>
        <div class="col-md-4">
          <input id="passwordinput" type="password" name="loginPassword" placeholder="Type your password here" class="form-control input-md" required="">
          <!-- <span class="help-block">help</span> -->
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4" style="text-align:center">
          <!-- <button id="singlebutton" name="singlebutton" class="btn btn-primary">Login</button> -->
          <input type="submit" value="Login" class="btn btn-primary">
        </div>
      </div>

      </fieldset>
      <!-- <fieldset>
      <legend style="text-align:center">or:</legend>
		<input type="email" name="loginEmail">
        <input type="password" name="loginPassword">
        <input type="submit" value="Login">
      </fieldset> -->
    </form>
</template>